@font-face {
    font-family: 'Circular';
    src: url('/static/fonts/Circular/CircularStd-Light.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('/static/fonts/Circular/CircularStd-Book.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('/static/fonts/Circular/CircularStd-Medium.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Circular';
    src: url('/static/fonts/Circular/CircularStd-Black.otf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

:root {
    --pink: #CA8DF2;
    --blue: #112FD9;
    --light-blue: #154EBF;
    --green: #04D94F;
    --light-green: #22F241;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
    text-decoration: none;
}

input:focus {
    outline: none;
}

body {
    font-family: 'Circular', sans-serif;
}

select {
    font-family: 'Circular', sans-serif;

}
option {
    font-family: 'Circular', sans-serif;

}

.loader {
    cursor: pointer;
    z-index: 100;
    display: block;
    width: 84px;
    height: 84px;
    position: relative;
    margin-top: 5rem;
  }
  
  .loader:before , .loader:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #FFF;
    transform: translate(-50% , -100%)  scale(0);
    animation: push_401 2s infinite linear;
  }
  
  .loader:after {
    animation-delay: 1s;
  }
  
  @keyframes push_401 {
    0% , 50% {
      transform: translate(-50% , 0%)  scale(1)
    }
  
    100% {
      transform: translate(-50%, -100%) scale(0)
    }
  }