/* Butons */
.fancy-button {
    z-index: 100;
    padding: 10px 20px;
    border: 1px solid black;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all .5s ease;
    height: clamp(60px, 5vw, 60px);
    font-size: clamp(16px, 2vw, 20px);
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-wrap: nowrap;
    white-space: nowrap;
}

.fancy-button:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.fancy-button:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}


.fancy-button:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
}

.fancy-button:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}

/* Inputs */
.input-container {
    position: relative;
}

.icon {
    position: absolute;
    right: 10px;
    top: calc(50% + 5px);
    transform: translateY(calc(-50% - 5px));
}

.input {
    width: 100%;
    padding: 10px;
    transition: .2s linear;
    border: 2.5px solid black;
    height: clamp(40px, 5vw, 50px);
    font-size: clamp(14px, 2vw, 20px);
    text-transform: uppercase;
    letter-spacing: 2px;

}

.input-container:hover>.icon {
    animation: anim 1s linear infinite;
}

@keyframes anim {

    0%,
    100% {
        transform: translateY(calc(-50% - 5px)) scale(1);
    }

    50% {
        transform: translateY(calc(-50% - 5px)) scale(1.1);
    }
}

/* ------------HOME------------ */
#banner {
    height: 100vh;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    text-align: center;
    background-color: white;
    flex-direction: column;
    padding-bottom: 100px;
}

#banner .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

#banner h1 {
    color: white;
    font-weight: 900;
}

#banner div {
    padding-top: 2rem;
    z-index: 10;
}

#banner .Listify_tittle {
    font-size: clamp(4em, 10vw, 9em);
}

#banner h1 .spotify {
    font-size: clamp(2.8em, 7vw, 5em);
    color: var(--light-green);
}

#banner h1 .playlists {
    font-size: clamp(2.8em, 7vw, 5em);
    color: white;
}

#banner h2 {
    color: white;
    opacity: 60%;
    font-size: clamp(2em, 3vw, 3em);
}


@keyframes levitate {

    0%,
    100% {
        transform: translate(-50%, -50%);
    }

    50% {
        transform: translate(-50%, -30%);
    }
}

section {
    margin: 4rem 0;
}
/* GENERATE PLAYLIST NOT LOGGED IN  */
#login-to-start,
#create-playlist {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login-to-start h1,
#create-playlist h1,
#playlist-section h1 {
    font-size: clamp(2.5rem, 3vw, 5rem);
    margin: 2rem;
    text-align: center;
}
#login-to-start form .fancy-button {
    margin: 4rem 0;

}
#login-to-start .text-container {
    width: 60%;
    max-width: 60rem;
    line-height: 3rem;
}

#login-to-start p {
    font-size: 1.8rem;
    text-align: justify;
    width: 100%;
    /* text-align: justify; */
}


/* CREATE PLAYLIST */
#create-playlist .container {
    display: grid;
    width: 95%;
    max-width: 50rem;
    grid-template-columns: 3fr 1fr;
    gap: 12px;
}

#create-playlist .container select {
    
    height: clamp(40px, 5vw, 50px);
    padding: 10px;
    transition: .2s linear;
    border: 2.5px solid rgb(19, 16, 16);
    font-size: clamp(14px, 2vw, 20px);
    text-transform: uppercase;
    letter-spacing: 2px;
}


.results-container {
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    transition: 0.4s opacity ease-in-out;
    height: 18vh;
    align-items: center;
}

.results-container.show {
    opacity: 1;
}

.results-container ul {
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

#create-playlist h2 {
    display: hidden;
    opacity: 0;
}

#create-playlist h2.show {
    opacity: 1;
}

#create-playlist #search-input,
#select-menu {
    margin: 0 12px;
}

#create-playlist .results-container li {
    height: 50px;
    padding: 8px;
    margin: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: lightgray;
    border-radius: 20px;
    font-weight: bold;
    transition: transform 0.3s ease;
    font-size: clamp(1rem, 2vw, 1.3rem);
}

#create-playlist .results-container ul li:hover {
    transform: translateY(-5px);
}


#create-playlist .results-container li img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#playlist-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12vw;
}

#playlist-section h1 {
    color: white;
}

#playlist-section .playlist-container {
    display: flex;
    flex-direction: column;
    width: min(50rem, 100%);
    padding: 2rem 0;
    gap: 5px;
}

#playlist-section .playlist-container li {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    color: white;
    margin: 0 10px;
    align-items: center;
    gap: 15px;
}

#playlist-section .playlist-container li .left {
    font-size: 15px;
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 2fr;
    align-items: center;
    gap: 18px;
}

.name-type-container {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: clamp(1rem, 2vw, 1.3rem);

}

#playlist-section .playlist-container li .left h2 {
    color: white;
    opacity: 50%;
}

#playlist-section .playlist-container li .left .name-type-container {
    display: inline-block;
    width: 100%;
}

#playlist-section .playlist-container li .left img {
    width: 50px;
    height: 50px;
}

#playlist-section .playlist-container li .left .name {
    font-weight: bold;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

#playlist-section .playlist-container li .right {
    display: flex;
    justify-content: right;
    width: auto;
}

#playlist-section .playlist-container li div select {
    text-align: center;
    cursor: pointer;
    color: white;
    background-color: rgb(57, 57, 57);
    outline: none;
    border: white;
    height: 50px;
    font-size: clamp(1rem, 2vw, 1.3rem);
    width: 80%;
    border-radius: 5px;
}

#playlist-section .playlist-container li div select option {
    text-align: center;
}

#playlist-section .playlist-container li .name-type-container .type {
    font-size: 90%;
    font-weight: 100;
}

#playlist-section #button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}

.bg2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bo;
    z-index: -1;
}

@media (max-width: 1024px) {

    #login-to-start .text-container {   
        line-height: 2.2rem;
        width: 100%;
        padding: 0 2.5rem;
    }

    #login-to-start p {
        text-align: left;
        text-wrap: balance;
        font-size: 1.5rem;
    }

}

@media (max-width: 768px) {

    #playlist-section .playlist-container li div select {
        width: 100%;
    }
}