/* Butons */
.fancy-button {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    z-index: 20;
    margin-top: 5rem;
    cursor: pointer;
}

.button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

.fancy-button:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
}

.fancy-button:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}

/* Inputs */
.input-container {
    width: 300px;
    position: relative;
}

.icon {
    position: absolute;
    right: 10px;
    top: calc(50% + 5px);
    transform: translateY(calc(-50% - 5px));
}

.input {
    width: 100%;
    height: 40px;
    padding: 10px;
    transition: .2s linear;
    border: 2.5px solid black;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.input:focus {
    outline: none;
    border: 0.5px solid black;
    box-shadow: -5px -5px 0px black;
}

.input-container:hover>.icon {
    animation: anim 1s linear infinite;
}

@keyframes anim {

    0%,
    100% {
        transform: translateY(calc(-50% - 5px)) scale(1);
    }

    50% {
        transform: translateY(calc(-50% - 5px)) scale(1.1);
    }
}

/* ------------HOME------------ */
#banner {
    height: 100vh;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    text-align: center;
    background-color: white;
    flex-direction: column;
}

#banner #bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

#banner h1 {
    color: white;
    font-weight: 900;
}

#banner div {
    padding-top: 2rem;
    z-index: 10;
}

#banner .Listify_tittle {
    font-size: clamp(4em, 10vw, 9em);
}

#banner h1 .spotify {
    font-size: clamp(2.8em, 7vw, 5em);
    color: var(--light-green);
}

#banner h1 .playlists {
    font-size: clamp(2.8em, 7vw, 5em);
    color: white;
}

#banner h2 {
    color: white;
    opacity: 70%;
    font-size: clamp(2em, 3vw, 3em);
}


@keyframes levitate {

    0%,
    100% {
        transform: translate(-50%, -50%);
    }

    50% {
        transform: translate(-50%, -30%);
    }
}

/* GENERATE PLAYLIST NOT LOGGED IN  */
#login-to-start,
#create-playlist {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login-to-start h1,
#create-playlist h1 {
    margin: 5rem 0;
    font-size: clamp(2.5rem, 3vw, 5rem);
}

#login-to-start .text-container {
    width: 60%;
    margin: 0 auto;
    line-height: 2.2rem;
}

#login-to-start p {
    font-size: min(1.5rem);
    text-align: justify;
    /* text-align: justify; */
}

footer {
    margin-top: 5rem;
    width: 100vw;
    height: 10rem;
    background-color: black;
}

/* CREATE PLAYLIST */
#create-playlist .container {
    display: flex;
    gap: 10px;
}
#create-playlist .container select {
    width: 40%;
    height: 40px;
    padding: 10px;
    transition: .2s linear;
    border: 2.5px solid black;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2.5rem;
    opacity: 0;
    transition: 0.4s opacity ease-in-out;
    height: 10rem;
    align-items: center;
    
}

.results-container.show {
    opacity: 1;
}

.results-container ul {
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

#create-playlist h2 {
    display: hidden;
    opacity: 0;
}

#create-playlist h2.show {
    opacity: 1;
}

#create-playlist .results-container li {
    height: 50px;
    padding: 8px;
    margin: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: lightgray;
    border-radius: 20px;
    font-weight: bold;
    transition: transform 0.3s ease;
}

#create-playlist .results-container ul li:hover {
    transform: translateY(-5px);
}


#create-playlist .results-container li img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#create-playlist .playlist-container {
    display: flex;
    height: auto;
    flex-direction: column;
    width: 40%;
    padding: 2rem;
}
#create-playlist .playlist-container li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: lightgray;
    border-radius: 20px;
    margin: 5px;
}
#create-playlist .playlist-container li div {
    display: flex;
    gap: 8px;
    align-items: center;
}
#create-playlist .playlist-container li div p {
    font-weight: bold;
}
#create-playlist .playlist-container li div select {
    height: 30px;
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}

#create-playlist .playlist-container li div select option {
    text-align: center;
    font-weight: 700;
}
#create-playlist .playlist-container li .name-type-container{
    display: flex;
    flex-direction: column;
    align-items: start;
}
#create-playlist .playlist-container li img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}