@font-face {
    font-family: 'Circular';
    src: url('/static/fonts/Circular/CircularStd-Light.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('/static/fonts/Circular/CircularStd-Book.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('/static/fonts/Circular/CircularStd-Medium.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Circular';
    src: url('/static/fonts/Circular/CircularStd-Black.otf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

:root {
    --pink: #CA8DF2;
    --blue: #112FD9;
    --light-blue: #154EBF;
    --green: #04D94F;
    --light-green: #22F241;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
    text-decoration: none;
}

input:focus {
    outline: none;
}

body {
    font-family: 'Circular', sans-serif;
}

/* ------------HOME------------ */
#banner {
    height: 100vh;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    text-align: center;
    background-color: white;
    flex-direction: column;
}

#banner #bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

#banner h1 {
    color: white;
    font-weight: 900;
}

#banner div {
    padding-top: 2rem;
    z-index: 10;
}

#banner .Listify_tittle {
    font-size: clamp(4em, 10vw, 9em);
}

#banner h1 .spotify {
    font-size: clamp(2.8em, 7vw, 5em);
    color: var(--light-green);
}

#banner h1 .playlists {
    font-size: clamp(2.8em, 7vw, 5em);
    color: white;
}

#banner h2 {
    color: white;
    opacity: 70%;
    font-size: clamp(2em, 3vw, 3em);
}

.logo-container {
    position: relative;
    z-index: 10;
    width: clamp(180px, 40%, 300px);
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}



.logo-container .logo {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: levitate 4s infinite;
}

.logo-container .logo.no-animation{
    animation: none;
}
.logo-container button {
    position: absolute;
    cursor: pointer;
    width: 100%;
    opacity: 0;
    height: 100%;
    top: 0;
    left: 0;
}

@keyframes levitate {

    0%,
    100% {
        transform: translate(-50%, -50%);
    }

    50% {
        transform: translate(-50%, -30%);
    }
}

/* GENERATE PLAYLIST NOT LOGGED IN  */
#login-to-start {
    width: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login-to-start h1 {
    margin: 5rem 0;
    font-size: clamp(2.5rem, 4vw, 6rem);
}
  button {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    z-index: 20;
    margin-top: 5rem;
    cursor: pointer;
  }
  
  .button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
  }
  
  button:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
  }
  
  button:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
  }
#login-to-start .text-container {
    width: 60%;
    margin: 0 auto;
    line-height: 2.2rem;
}

#login-to-start p {
    font-size: min(1.5rem);
    text-align: justify;
    /* text-align: justify; */
}


/* GENERATE PLAYLIST LOGGED IN */

/* CREATE PLAYLIST */