<section id="banner">
  {% load static %}
  <div>
    <h1 class="Listify_tittle">Playlisty</h1>
    <h2>Create and Custom</h2>
    <h1>
      <span class="spotify">Spotify </span><span class="playlists"> Playlists</span>
    </h1>
  </div>
  <div class="bg" style="background-image: url('{% static 'svg/bg.svg' %}')"></div>
  <div class="arrow">
    <span></span>
    <span></span>
    <span></span>
  </div>


  <img class="spotify-logo" src="{% static 'svg/spotify_logo.png' %}" alt="">

</section>