<section id="banner">
  {% load static %}
  <div>
    <h1 class="Listify_tittle">Playlisty</h1>
    <h2>Create and Custom</h2>
    <h1>
      <span class="spotify">Spotify </span><span class="playlists"> Playlists</span>
    </h1>
  </div>
  <a  href="#login-to-start" class="arrow">
    <span></span>
    <span></span>
    <span></span>
  </a>
  <div class="buttons-container">
    <a class="fancy-button" id="create-playlist-button" href="/createplaylist">
      <span class="button_top">Create playlist</span>
    </a>
  </div>

  <img class="spotify-logo" src="{% static 'svg/Spotify_Logo_RGB_White.png' %}" alt="">

</section>