{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playlisty -Generate Playlists</title>
    <link rel="stylesheet" href="{% static 'styles/global.css'%}" />
    <link rel="stylesheet" href="{% static 'styles/main.css'%}" />
    <link rel="icon" href="{% static 'img/Spotify_logo.png'%}" />
    <script
      src="https://kit.fontawesome.com/b97263830a.js"
      crossorigin="anonymous"
    ></script>
  </head>
  {% csrf_token %}
  {% block content%} 
  {% endblock %}
</html>
