{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playlisty - Spotify Playlist Generator</title>
    {% include 'seo.html' %}
    <link rel="stylesheet" href="{% static 'styles/global.css'%}" />
    <link rel="stylesheet" href="{% static 'styles/main.css'%}" />
    <link rel="icon" href="{% static 'img/icon.png'%}" />
  </head>
  {% csrf_token %}
  <body>
    {% block content%} {% endblock %}
    {% include 'footer.html' %}
  </body>
</html>
