{% extends 'base.html' %}
{% block content%}
{% load static %}
<section id="custom-playlist">
    <h1>Your playlist preview</h1>
    <section id="custom-playlist">
        <main class="playlist-container">
            {% for item in data %}
            <li id-value="{{ item.id }}" class="show">
                <div class="left">
                    <img src={{item.album.images.0.url}} alt="">
                    <div class="name-type-container">
                        <p class="name">{{ item.name }}</p>
                        <p class="type"> {% for artist in item.artists %}
                            {{ artist.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}</p>
                    </div>
                </div>
                <div class="right">
                    <button class="button" onclick="deleteElement(this)">
                        <svg viewBox="0 0 448 512" class="svgIcon">
                            <path
                                d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z">
                            </path>
                        </svg>
                    </button>
                    <a class="right-icon" href="{{item.external_urls.spotify}}" target="_blank"
                        rel="noreferrer noopener"><img alt="{{item.name}} on Spotify"
                            src="/static/svg/Spotify_Icon_RGB_Black.png" alt="{{item.name}}"></a>

                </div>
            </li>
            {% endfor %}
        </main>
        <header class="header-container">
            <aside>
                <div class="info-box">
                    <h2 id="artists-n">0</h2>
                    <h3>Artists</h3>
                </div>
                <div class="info-box">
                    <h2 id="albums-n">0</h2>
                    <h3>Albums</h3>
                </div>
                <div class="info-box">
                    <h2 id="tracks-n">0</h2>
                    <h3>Tracks</h3>
                </div>
            </aside>
            <button id="generate-playlist-button" class="fancy-button">
                Generate playlist
            </button>
        </header>
    </section>
</section>

<script src="{% static 'js/custom-playlist.js' %}"></script>
{% endblock %}