{% load static %}
<section id="login-to-start">
  <h1>Generate playlists</h1>
  <div class="text-container">
    <p>
      Creating a playlist on our web app is a breeze! We offer you a variety
      of options to curate your perfect Spotify playlist. Whether you prefer
      selecting
      <span style="font-weight: bold">artists, albums, or individual songs</span>, we've got you covered. But first, you
      will have to log in with your Spotify's account.
    </p>
  </div>
  {%if logged_in == False %}
  <div class="buttons-container">
    <button class="fancy-button" type="submit" data-url="/auth">
      <span class="button_top">Log In with Spotify</span>
    </button>
    <button class="fancy-button" id="create-playlist-button" data-url="/createplaylist">
      <span class="button_top">Create playlist</span>
    </button>
  </div>
  {% else %}
  <div class="buttons-container">
    <button class="fancy-button" type="submit" data-url="/logout">
      <span class="button_top">Log out from spotify</span>
    </button>
    <button class="fancy-button" id="create-playlist-button" data-url="/createplaylist">
      <span class="button_top">Create playlist</span>
    </button>
  </div>
  {% endif %}
</section>
<script src="{% static 'js/buttons.js' %}"></script>