{% extends 'base.html' %}
{% block content%}

<body>
  {% include 'banner.html' %}
  <section id="login-to-start">
    <h1>Why do you have to log in?</h1>
    <div class="text-container">
      <p>
        To be able to generate Spotify playlists using our web app, we kindly
        ask you to log in with your Spotify account. This is a necessary step to
        provide you with a seamless and personalized experience. We understand
        that you may have concerns about privacy and the security of your
        information, so we want to assure you that your data is safe.
      </p>
      <p>
        When you log in with your Spotify account, our web app uses Spotify's
        Application Programming Interface (API) to securely authenticate your
        account. The API allows us to access limited information about your
        Spotify profile, such as your display name and public playlists, which
        we use solely for the purpose of generating personalized playlists for
        you.
      </p>

      <p>
        It's important to note that we do not store or have access to your
        Spotify account credentials, such as your username or password. The
        authentication process is handled entirely by Spotify, ensuring that
        your sensitive information remains confidential. We prioritize your
        privacy and adhere to all necessary security measures to protect your
        data.
      </p>
      <p>
        We value your trust and understand the importance of transparency when
        it comes to handling user data. Rest assured that we abide by Spotify's
        terms of service and privacy policy, and we take all necessary
        precautions to ensure your privacy and security throughout your
        interaction with our web app.
      </p>
      <h2>Web apps that uses Spotify's API as this one</h2>
      <a href="https://www.statsforspotify.com/">https://www.statsforspotify.com/</a>
      <a href="https://www.spotlistr.com/">https://www.spotlistr.com/</a>
      <a href="https://www.chosic.com/playlist-generator/">https://www.chosic.com/playlist-generator/</a>
      <a href="https://create.magicplaylist.co/">https://create.magicplaylist.co/</a>


    </div>
  </section>
</body>
{% endblock %}