{% extends 'base.html' %} {% load static %} {% block content%}
<body>

  <section id="create_playlist">
    <div class="container">
      <h3>Select the artists</h3>
      <div class="wrapper">
        <input
          type="text"
          name="search"
          id="search"
          placeholder="Type to search"
          autocomplete="off"
        />
        <button class="search_button"><i class="fa fa-search"></i></button>
        <div class="results">
          <!-- Results -->
        </div>
      </div>
    </div>
    <div id="playlist_form">
      {% csrf_token %}
      <div class="playlist_container">
        <div class="top">
          <div class="input-group">
            <input
              required=""
              type="text"
              name="name"
              autocomplete="off"
              class="input"
              id = "name_input"
            />
            <label class="user-label">Playlist's name</label>
          </div>
        </div>
        <div class="separator"></div>
        <div class="bottom">
          <h2 id="empty" class="hidden">No artists added</h2>
        </div>
        <input type="hidden" name="artists" id="list_ids" />
        <button type = 'image' class="submit_button" type="submit"> Generate playlist
          <div class="icon">
              <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
          </button>
      </a>
      </div>
    </div>
  </section> 
  <div class= "loader_container">
    <div class="loader "><div></div><div></div><div></div><div></div></div>
  </div>
  <script src="{% static 'js/get_artist.js' %}"></script>
  <script src="{% static 'js/get_playlist.js' %}"></script>
</body>
{% endblock %}
