@font-face {
    font-family: 'Circular';
    src: url('/static/fonts/Circular/CircularStd-Light.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('/static/fonts/Circular/CircularStd-Book.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('/static/fonts/Circular/CircularStd-Medium.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('/static/fonts/Circular/CircularStd-900.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('/static/fonts/Circular/CircularStd-Black.otf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

:root {
    --pink: #CA8DF2;
    --blue: #112FD9;
    --light-blue: #154EBF;
    --green: #04D94F;
    --light-green: #22F241;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.inter {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 35vh;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
    text-decoration: none;
}

input:focus {
    outline: none;
}

body {
    font-family: 'Circular', sans-serif;
}

nav {
    z-index: 9999;
    background-color: black;
    color: white;
    height: 4em;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

nav .left,
nav .right {
    font-size: 1.2em;
    font-weight: 300;
    margin: 0 5%;
    display: flex;
    align-items: center;
    gap: 6em;
}

nav .left {
    margin: 0 5%;
    display: flex;
    align-items: center;
    gap: 3em;
}

nav .logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

nav .logo .logo_img {
    width: 2.2em;
}

nav .left .logo_tittle {
    font-size: 1.5em;
    font-weight: 900;
}

nav .login {
    width: 2.3em;
}

nav .right {
    margin: 0 3%;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    cursor: pointer;
}

nav .right .user_logo {
    cursor: pointer;
    all: unset;
    color: white;
    font-size: 1.3em;
    text-decoration: none;
    padding: 0;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 5px;
    width: 7em;
}

nav .right .log_text {
    color: white;
    font-size: 0.6em;
}


/* ------------HOME------------ */
#banner {
    padding-top: 4em;
    height: 70vh;
    min-height: 600px;
    display: flex;
    justify-content: left;
    background-color: var(--blue);
}

#banner div {
    margin-left: 15%;
    margin-top: 5%;
}

#banner h1 {
    color: white;
    font-size: 3em;
    font-weight: 900;
}

#banner .Listify_tittle {
    font-size: 8em;
    color: var(--light-green);
}

#banner h1 .spotify {
    color: var(--light-green);
    font-size: 1.5em;
}

#banner h1 .playlists {
    color: white;
    font-size: 1.5em;
}

#banner .welcome {
    color: white;
    font-size: 1.9em;

}

#banner .welcome_button {
    margin-top: 5%;
    cursor: pointer;
    background: var(--pink);
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    width: 200px;
}

#banner .welcome_button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0.3em;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
}

#banner .welcome_button:hover .icon {
    width: calc(100% - 0.6em);
}

#banner .welcome_button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: var(--pink);
}

#banner .welcome_button:hover .icon svg {
    transform: translateX(0.1em);
}

#banner .welcome_button:active .icon {
    transform: scale(0.95);
}

/* TUTORIAL SECTION */
#tutorial {
    padding-top: 5em;
    width: 100%;
}

#tutorial h2 {
    font-size: 3.1em;
    text-align: center;
    margin-bottom: 1em;
}

#tutorial .container {
    margin: auto;
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    background-color: #FFE9FF;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.3);
}

#tutorial .container .step {
    width: 70%;
    padding: 2em;
    line-height: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px black solid;
}

#tutorial .container .cloud {
    font-size: 3.1em;
    text-align: center;
    color: var(--green);
}

#tutorial .container h3 {
    text-align: center;
}

#tutorial .button_step1,
#tutorial .logged {
    margin-top: 1em;
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid black;
    border-radius: 20px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    /* font-size: 19px; */
    color: black;
    z-index: 1;
}

#tutorial .logged {
    cursor: auto;
    background-color: var(--green);
}

#tutorial .button_step1:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

#tutorial .button_step1:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: var(--light-green);
    border: 1px solid black;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

#tutorial .button_step1:hover {
    color: #ffffff;
    border: 1px solid #39bda7;
}

#tutorial .button_step1:hover:before {
    top: -35%;
    background-color: var(--light-green);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

#tutorial .button_step1:hover:after {
    top: -45%;
    background-color: var(--green);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* CREATE PLAYLIST */
#create_playlist {
    padding-top: 4em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

#create_playlist .container {
    height: 30%;
    margin-top: 2.5%;
    width: 100%;
    position: relative;
}

.input {
    border: none;
    background-color: transparent;
}

#create_playlist .container h3 {
    font-size: 2em;
    font-weight: 900;
    text-align: center;
}

#create_playlist .wrapper {
    margin: 0 auto;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.15);
    position: relative;
    width: 40%;
}

#create_playlist #search {
    width: 100%;
    border: none;
    height: 50px;
    border-radius: 5px;
    padding: 0px 40px 0px 10px;
    font-size: 18px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}


#create_playlist .search_button {
    position: absolute;
    border: none;
    background: none;
    top: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    padding: 0;
    width: 50px;
}

#create_playlist button i {
    width: 100%;
    color: #6d7b98;
    line-height: 50px;
    font-size: 22px;
}

#create_playlist .results {
    padding: 0px;
}

#create_playlist .results ul {
    margin: 0;
    padding: 0;
}

#create_playlist .results ul li {
    list-style: none;
    border-radius: 3px;
    opacity: 0;
    display: none;
    padding: 8px 12px;
    transition: all .2s linear;
}

#create_playlist .show .results ul li {
    cursor: pointer;
    opacity: 1;
    display: block;
}

#create_playlist .results ul li:hover {
    background: #ececec
}

#create_playlist .results ul li button {
    font-size: 1.1em;
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

#create_playlist .show .results {
    padding: 10px;
}

#create_playlist form {
    position: relative;
}

#create_playlist form #playlist_form {
    border-radius: 12px;
    height: 50%;
    background-color: #232323;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    margin-bottom: 5em;
}

#create_playlist form #playlist_form .top {
    padding: .7em 1em;
    border-radius: 12px;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#create_playlist h2 {
    color: white;
    font-weight: 900;
    margin-left: .7em;
    margin-bottom: 1em;
}

#create_playlist form #playlist_form .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2em;
    background-color: inherit;
    height: 400px;
    overflow-y: scroll;
    padding: .7em 1em;
    border-radius: 12px;
    margin-bottom: 10px;
}

#create_playlist form #playlist_form .bottom::-webkit-scrollbar {
    width: 7px;
}

#create_playlist form #playlist_form .bottom::-webkit-scrollbar-thumb {
    color: red;
    border-radius: 15px;
    height: 2px;
}

#create_playlist form #playlist_form .playlist_name {
    color: white;
    color: #BFFCFA;
    font-size: 2.5em;
    font-weight: 900;
}

#create_playlist form #playlist_form .playlist_desc {
    width: 100%;
    color: rgba(255, 255, 255, 0.6);
    color: #4B4646;
    font-size: 1em;

}

#create_playlist form #playlist_form .checks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

#create_playlist form #playlist_form .check_public {
    display: flex;
    align-items: center;
    gap: .5em;
}

#create_playlist form #playlist_form .check_public p {
    color: #04D94F;
    font-weight: 500;
    font-size: 1.2em;
}

#create_playlist form .submit_botton {
    position: absolute;
    cursor: pointer;
    outline: none;
    border: none;
    height: 3em;
    font-size: 1.3em;
    font-weight: 900;
    width: 100%;
    background-color: #04D94F;
    color: black;
    height: 2em;
    bottom: 7.5%;
    /* border-radius: 12px; */
}


.cbx {
    position: relative;
    top: 1px;
    width: 27px;
    height: 27px;
    border: 1px solid #c8ccd4;
    border-radius: 3px;
    transition: background 0.1s ease;
    cursor: pointer;
    display: block;
}

.cbx:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 8px;
    width: 7px;
    height: 14px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: all 0.3s ease;
    transition-delay: 0.15s;
}

.lbl {
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
}

#cbx:checked~.cbx {
    border-color: transparent;
    background: #6871f1;
    animation: jelly 0.6s ease;
}

#cbx:checked~.cbx:after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
}

.cntr {
    position: relative;
}

@keyframes jelly {
    from {
        transform: scale(1, 1);
    }

    30% {
        transform: scale(1.25, 0.75);
    }

    40% {
        transform: scale(0.75, 1.25);
    }

    50% {
        transform: scale(1.15, 0.85);
    }

    65% {
        transform: scale(0.95, 1.05);
    }

    75% {
        transform: scale(1.05, 0.95);
    }

    to {
        transform: scale(1, 1);
    }
}

.hidden-xs-up {
    display: none !important;
}

/* -------------GENERATE PLAYLIST------------- */
#generate_playlist {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 100%;
}

#generate_playlist h1 {
    color: white;
    font-size: 2em;
}